@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    color-scheme: dark light;
}

body {
    font-family: "Roboto Mono", sans-serif;
    background-color: beige;
    min-height: 100vh;
    line-height: 1.5;
}

#root {
    display: flex;
    min-height: 100vh;
}
.card {
    margin: auto;
    max-width: 500px;
    width: 90%;
    display: flex;
    background-color: white;
    border: 5px solid black;
    > * {
        width: 100%;
    }
}

hr {
    margin-block: 0.75rem;
}

.data {
    padding: 1rem;
}
.intro {
    margin-bottom: 1rem;
    h1 {
        font-size: 1.25rem;
        font-weight: bold;
    }
    h2 {
        font-size: 1rem;
        font-weight: 500;
        font-style: italic;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.5;
    }
}

.img-container {
    min-width: 150px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    font-size: 0.8rem;
    padding: 0.25rem 0.9rem;
    border-radius: 10px;
    font-weight: 500;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;

    &:nth-child(even):hover {
        transform: scale(1.1) rotate(5deg);
    }
    &:nth-child(odd):hover {
        transform: scale(1.1) rotate(-5deg);
    }
}

@media (max-width: 600px) {
    .card {
        margin-block: 2rem;
        text-align: center;
        width: 90%;
        max-width: 300px;
        flex-direction: column;
    }
    .skill-list {
        justify-content: center;
    }
}
